.header  {
  font-family: monospace;
  background: papayawhip;
  /* flex mod is active in container, x axis spaced evenly, y centered*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
 
  list-style-type: none;

  /* inside ul*/
  display: flex;
  padding: 16px;
  margin-left: 8px;
  gap: 8px;
}

.left-links ~ul{
justify-content: flex-start;
}
a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}